# Build results
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio project settings
.vs/

# Visual Studio project settings
.vs/Network-visualization-tool

# Node/Vite artifacts
node_modules/
dist/
